modelo/conexion.php
img/
*.jpg
*.jpeg
*.png
*.pdf
*.gif
*.js
*.css
images/
lib/
*.csv
[imap]
folder = "[Gmail]/Drafts"
host = smtp.mandrillapp.com
user = maccevedor@gmail.com
pass = uyvX5OD7dIxKjKZrZPrxFQ
port = 587
sslverify = false